<template>
<nav class="navbar orange lighten-1">
  <div class="nav-wrapper">
    <div class="navbar-left">
      <a href="#" @click.prevent="$emit('toggle')">
        <i class="material-icons black-text">dehaze</i>
      </a>
      <span class="black-text">{{ dateNavbar.dateFormat(date, 'datetime') }}</span>
    </div>

    <ul class="right hide-on-small-and-down">
      <li>
        <a
            class="dropdown-trigger black-text"
            href="#"
            data-target="dropdown"
            ref="dropdown"
        >
          {{ name }}
          <i class="material-icons right">arrow_drop_down</i>
        </a>

        <ul id='dropdown' class='dropdown-content'>
          <li>
            <router-link to="/profile" class="black-text">
              <i class="material-icons">account_circle</i>{{ loc.profile }}
            </router-link>
          </li>
          <li class="divider" tabindex="-1"></li>
          <li>
            <a href="#" class="black-text" @click.prevent="logout">
              <i class="material-icons">assignment_return</i>{{ loc.logoutText }}
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
</template>

<script>
import M from 'materialize-css/dist/js/materialize.min'
import dateFilter from '@/utils/dateformat'
import localize from '@/locales/localize'
export default {
  data: () => ({
    date: new Date(),
    interval: null,
    dropdown: null,
    dateNavbar: dateFilter
  }),
  methods: {
    async logout () {
      await this.$store.dispatch('logout')
      this.$router.push('/login?message=logout')
    }
  },
  computed: {
    name () {
      return this.$store.getters.info.name
    },
    loc () {
      return {
        profile: localize.localizeFilter('Profile'),
        logoutText: localize.localizeFilter('LogOut')
      }
    }
  },
  mounted () {
    this.interval = setInterval(() => {
      this.date = new Date()
    }, 1000)
    this.dropdown = M.Dropdown.init(this.$refs.dropdown, {
      constrainWidth: false,
      alignment: 'right'
    })
  },
  beforeUnmount () {
    clearInterval(this.interval)
    if (this.dropdown && this.dropdown.destroy) {
      this.dropdown.destroy()
    }
  }
}
</script>
