<template>
<ul class="sidenav app-sidenav" :class="{ open: isOpen }">
    <router-link
      v-for="link in links"
      :key="link.url"
      :to="link.url"
      custom
      v-slot="{ href, navigate, isActive }"
    >
      <li
        :class="[isActive && 'active']"
      >
        <a :href="href" @click="navigate" class="waves-effect waves-orange pointer">{{ link.title }}</a>
      </li>
    </router-link>
</ul>
</template>

<script>
import localize from '@/locales/localize'
export default {
  props: {
    isOpen: Boolean
  },
  data: () => ({
    links: [
      { title: localize.localizeFilter('Menu_Bill'), url: '/', active: true },
      { title: localize.localizeFilter('Menu_History'), url: '/history', active: false },
      { title: localize.localizeFilter('Menu_Planning'), url: '/planning', active: false },
      { title: localize.localizeFilter('Menu_NewRecord'), url: '/record', active: false },
      { title: localize.localizeFilter('Menu_Categories'), url: '/categories', active: false }
    ]
  }),
  computed: {
    op () {
      return console.log(this.isOpen)
    }
  },
  methods: {
    activeLi (idx) {
      for (const val of this.links) {
        val.active = false
      }
      this.links[idx].active = true
    }
  }
}
</script>
