<template>
  <div>
    <div class="page-title">
      <h3>{{ loc.title }}</h3>
    </div>
    <section>
      <Loader v-if="loading" />
      <div class="row" v-else >
        <CategoryCreate @created="addNewCategory" />
        <CategoryEdit
          v-if="categories.length"
          :categories="categories"
          :key="categories.length + updateCount"
          @updated="updateCategories"
        />
        <p class="center" v-else>{{ loc.pText }}</p>
      </div>
    </section>
  </div>
</template>

<script>
import CategoryCreate from '@/components/CategoryCreate'
import CategoryEdit from '@/components/CategoryEdit'
import localize from '@/locales/localize'
import { useHead } from '@vueuse/head'
import metaInfo from '@/utils/meta'
export default {
  name: 'categories',
  data: () => ({
    categories: [],
    loading: true,
    updateCount: 0
  }),
  async mounted () {
    useHead(this.meta)
    this.categories = await this.$store.dispatch('fetchCategories')
    this.loading = false
  },
  computed: {
    loc () {
      return {
        title: localize.localizeFilter('Categories'),
        pText: localize.localizeFilter('No_CategoriesYet')
      }
    },
    meta () {
      return {
        title: metaInfo.metaTitle('Menu_Categories')
      }
    }
  },
  components: {
    CategoryCreate, CategoryEdit
  },
  methods: {
    addNewCategory (category) {
      this.categories.push(category)
    },
    updateCategories (category) {
      const idx = this.categories.findIndex(c => c.id === category.id)
      this.categories[idx].title = category.title
      this.categories[idx].limit = category.limit
      this.updateCount++
    }
  }
}
</script>
