<template>
<div>
  <Loader v-if="loading" />
  <div v-else-if="record">
    <div class="breadcrumb-wrap">
      <router-link to="/history" class="breadcrumb">{{ loc.title }}</router-link>
      <a @click.prevent class="breadcrumb">
        {{ record.typeText }}
      </a>
    </div>
    <div class="row">
      <div class="col s12 m6">
        <div class="card" :class="[record.typeClass]">
          <div class="card-content white-text">
            <p>{{ loc.description }}: {{ record.description }}</p>
            <p>{{ loc.sum }}: {{ currencyDetail.currencyFilter(record.amount) }}</p>
            <p>{{ loc.category }}: {{ record.categoryName }} </p>

            <small>{{ dateDetail.dateFormat(record.date, 'datetime') }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p class="center" v-else>{{ loc.record_with }} id=<strong>{{ $route.params.id }}</strong> {{ loc.not_found }}</p>
</div>
</template>

<script>
import dateFilter from '@/utils/dateformat'
import curFilter from '@/utils/currency'
import localize from '@/locales/localize'
import { useHead } from '@vueuse/head'
import metaInfo from '@/utils/meta'
export default {
  name: 'detail',
  data: () => ({
    loading: true,
    record: null,
    dateDetail: dateFilter,
    currencyDetail: curFilter
  }),
  async mounted () {
    useHead(this.meta)
    const id = this.$route.params.id
    const record = await this.$store.dispatch('fetchRecordById', id)
    const category = await this.$store.dispatch('fetchCategoryById', record.categoryId)

    this.record = {
      ...record,
      categoryName: category.title,
      typeClass: record.type === 'income' ? 'green' : 'red',
      typeText: record.type === 'income' ? localize.localizeFilter('Income') : localize.localizeFilter('Outcome')
    }
    this.loading = false
  },
  computed: {
    loc () {
      return {
        title: localize.localizeFilter('History'),
        description: localize.localizeFilter('Description'),
        sum: localize.localizeFilter('Sum'),
        category: localize.localizeFilter('Category'),
        record_with: localize.localizeFilter('RecordWith'),
        not_found: localize.localizeFilter('NotFound')
      }
    },
    meta () {
      return {
        title: metaInfo.metaTitle('Title_Ditail')
      }
    }
  }
}
</script>
