<template>
<div>
  <div class="page-title">
    <h3>{{ loc.title }}</h3>
  </div>

  <div class="history-chart">
    <canvas ref="canvas"></canvas>
  </div>

  <Loader v-if="loading" />

  <p class="center" v-else-if="!records.length">
    {{ loc.not_yet }}
    <router-link to="/record">{{ loc.create_newRecord }}</router-link>
  </p>

  <section v-else>
    <HistoryTable :records="items" />

    <Pagination
      v-model="page"
      :records="records.length"
      :per-page="pageSize"
      :options="arr"
      @paginate="myCallback"
    />
  </section>
</div>
</template>

<script>
import paginationMixin from '@/mixins/pagination.mixin'
import MyPagination from './MyPagination'
import HistoryTable from '@/components/HistoryTable'
import { Pie } from 'vue3-chart-v2'
import localize from '@/locales/localize'
import { useHead } from '@vueuse/head'
import metaInfo from '@/utils/meta'
export default {
  name: 'history',
  extends: Pie,
  mixins: [paginationMixin],
  data: () => ({
    loading: true,
    records: [],
    arr: {
      template: MyPagination
    }
  }),
  async mounted () {
    useHead(this.meta)
    if (this.$route.query.page) { this.page = +this.$route.query.page }
    this.records = await this.$store.dispatch('fetchRecords')
    const categories = await this.$store.dispatch('fetchCategories')
    const arrColors = categories.map(c => '#' + (0x1000000 + (Math.random()) * 0xffffff).toString(16).substr(1, 6))

    this.setup(categories, arrColors)

    this.loading = false
  },
  computed: {
    loc () {
      return {
        title: localize.localizeFilter('History'),
        not_yet: localize.localizeFilter('No_RecordsYet'),
        create_newRecord: localize.localizeFilter('Message_MainTooltip')
      }
    },
    meta () {
      return {
        title: metaInfo.metaTitle('Menu_History')
      }
    }
  },
  methods: {
    setup (categories, arrColors) {
      this.setupPagination(this.records.map(record => {
        return {
          ...record,
          categotyName: categories.find(c => c.id === record.categoryId).title,
          typeClass: record.type === 'income' ? 'green' : 'red',
          typeText: record.type === 'income' ? 'Income' : 'Outcome'
        }
      }))
      this.renderChart({
        labels: categories.map(c => c.title),
        datasets: [{
          label: 'Costs by category',
          data: categories.map(c => {
            return this.records.reduce((total, r) => {
              if (r.categoryId === c.id && r.type === 'outcome') {
                total += +r.amount
              }
              return total
            }, 0)
          }),
          backgroundColor: arrColors,
          borderColor: arrColors,
          borderWidth: 1
        }]
      })
    }
  },
  components: {
    HistoryTable
  }
}
</script>
