<template>
<div>
 <div class="page-title">
    <h3>{{ title }}</h3>

    <button class="btn waves-effect waves-light btn-small" @click="refresh">
      <i class="material-icons">refresh</i>
    </button>
  </div>

  <Loader v-if="loading" />

  <div v-else class="row">
    <HomeBill
    :rates="currency.rates"
    />

    <HomeCurrency
    :rates="currency.rates"
    :date="currency.date"
    />
  </div>
</div>
</template>

<script>
import HomeBill from '@/components/HomeBill'
import HomeCurrency from '@/components/HomeCurrency'
import localize from '@/locales/localize'
import { useHead } from '@vueuse/head'
import metaInfo from '@/utils/meta'
export default {
  name: 'home',
  data: () => ({
    loading: true,
    currency: null,
    menuBill: 'Menu_Bill'
  }),
  async mounted () {
    useHead(this.meta)
    this.currency = await this.$store.dispatch('fetchCurrency')
    this.currency.rates.EUR = 1 // https://api.exchangeratesapi.io
    this.loading = false
  },
  computed: {
    title () {
      return localize.localizeFilter(this.menuBill)
    },
    meta () {
      return {
        title: metaInfo.metaTitle(this.menuBill)
      }
    }
  },
  methods: {
    async refresh () {
      this.loading = false
      this.currency = await this.$store.dispatch('fetchCurrency')
      this.currency.rates.EUR = 1 // https://api.exchangeratesapi.io
      this.loading = false
    }
  },
  components: {
    HomeBill, HomeCurrency
  }
}
</script>
