<template>
  <form class="card auth-card" @submit.prevent="submitLoginForm">
    <div class="card-content">
      <span class="card-title">{{ localizeObj.title }}</span>
        <div class="input-field">
          <input
          id="email"
          type="text"
          v-model.trim="userEmail"
          :class="{invalid: ($v.userEmail.$dirty && $v.userEmail.required.$invalid) || ($v.userEmail.$dirty && $v.userEmail.email.$invalid)}"
          >
          <label for="email">{{ localizeObj.email }}</label>
          <small
          class="helper-text invalid"
          v-if="$v.userEmail.$dirty && $v.userEmail.required.$invalid"
          >{{ localizeObj.message_validation1 }}</small>
          <small
          class="helper-text invalid"
          v-else-if="$v.userEmail.$dirty && $v.userEmail.email.$invalid"
          >{{ localizeObj.message_validation2 }}</small>
        </div>
        <div class="input-field">
          <input
          id="password"
          type="password"
          v-model.trim="userPassword"
          :class="{invalid: ($v.userPassword.$dirty && $v.userPassword.required.$invalid) || ($v.userPassword.$dirty && $v.userPassword.minLength.$invalid)}"
          >
          <label for="password">{{ localizeObj.password }}</label>
          <small
          class="helper-text invalid"
          v-if="$v.userPassword.$dirty && $v.userPassword.required.$invalid"
          >{{ localizeObj.message_validation3 }}</small>
          <small
          class="helper-text invalid"
          v-if="$v.userPassword.$dirty && $v.userPassword.minLength.$invalid"
          >{{ localizeObj.message_validation4 }} {{$v.userPassword.minLength.$params.min}} {{ localizeObj.message_validation5 }} {{ userPassword.length }}</small>
        </div>
    </div>
    <div class="card-action">
      <div>
        <button
          class="btn waves-effect waves-light auth-submit"
          type="submit"
          >
          {{ localizeObj.signin }}
          <i class="material-icons right">send</i>
        </button>
      </div>

      <p class="center">
        {{ localizeObj.message_register1 }}
        <router-link to="/register" >{{ localizeObj.message_register2 }}</router-link>
      </p>
    </div>
  </form>
</template>

<script>
import { useForm } from '../use/form'
import messages from '@/utils/messages'
import { useHead } from '@vueuse/head'
export default {
  name: 'login',
  setup () {
    const { meta, userEmail, userPassword, $v, submitLoginForm, localizeObj } = useForm()
    return {
      meta,
      userEmail,
      userPassword,
      $v,
      submitLoginForm,
      localizeObj
    }
  },
  mounted () {
    useHead(this.meta)
    if (messages[this.$route.query.message]) {
      this.$message(messages[this.$route.query.message])
    }
  }
}
</script>
