<template>
    <div class='VuePagination' :class='props.theme.wrapper'>
        <nav :class='props.theme.nav' class="navPagination">

            <ul v-show="props.showPagination" :class="props.theme.list">

                <li v-if="props.hasEdgeNav" :class='props.theme.firstPage' @click="props.setFirstPage">
                    <button type="button" v-bind="props.firstPageProps">{{props.texts.first}}</button>
                </li>

                <li v-if="props.hasChunksNav" :class='props.theme.prevChunk' @click="props.setPrevChunk">
                    <button type="button" v-bind="props.prevChunkProps">{{props.texts.prevChunk}}</button>
                </li>

                <li :class="props.theme.prev" @click="props.setPrevPage">
                    <button type="button" v-bind="props.prevProps">{{props.texts.prevPage}}</button>
                </li>

                <li v-for="page in props.pages" :key="page" :class="props.pageClasses(page)"
                    v-on="props.pageEvents(page)">
                    <button type="button" v-bind="props.aProps" :class="props.theme.link">{{page}}</button>
                </li>

                <li :class="props.theme.next" @click="props.setNextPage">
                    <button type="button" v-bind="props.nextProps">{{props.texts.nextPage}}</button>
                </li>

                <li v-if="props.hasChunksNav" :class='props.theme.nextChunk' @click="props.setNextChunk">
                    <button type="button" v-bind="props.nextChunkProps">{{props.texts.nextChunk}}</button>
                </li>

                <li v-if="props.hasEdgeNav" :class="props.theme.lastPage" @click="props.setLastPage">
                    <button type="button" v-bind="props.lastPageProps">{{props.texts.last}}</button>
                </li>

            </ul>

            <p v-show="props.hasRecords" :class='props.theme.count'>{{props.count}}</p>

        </nav>
    </div>

</template>

<script>
export default {
  name: 'MyPagination',
  props: ['props']
}
</script>
<style>
  .navPagination {
    background-color: inherit;
    box-shadow: inherit;
  }
  .navPagination ul li {
    margin: 0 5px;
    background-color: inherit;
  }
  .navPagination ul li button {
    line-height: 1.3;
    height: 30px;
    position: relative;
    top: -18px;
    border: 0;
    border-radius: 2px;
  }
  .navPagination ul li.active button {
    background-color: #ee6e73;
    color: #ffffff;
  }
  .navPagination ul li button:hover {
    background-color: #ee6e73;
    color: #ffffff;
    cursor: pointer;
  }
  .navPagination ul li button:focus {
    background-color: #ee6e73;
    color: #ffffff;
  }
  .navPagination ul.pagination li button:disabled:hover {
    color: #b4b4b4;
    background-color: #fafafa;
    cursor: inherit;
  }
</style>
