<template>
<div>
  <div class="page-title">
    <h3>{{ loc.title }}</h3>
    <h4>{{ currencyPlanning.currencyFilter(info.bill) }}</h4>
  </div>

  <Loader v-if="loading" />

  <p class="center" v-else-if="!categories.length">{{ loc.no_message }} <router-link to="/categories">{{ loc.create_category }}</router-link></p>

  <section v-else>
    <div v-for="cat of categories" :key="cat.id">
      <p>
        <strong>{{ cat.title }}:</strong>
        {{ currencyPlanning.currencyFilter(cat.spend) }} из {{ currencyPlanning.currencyFilter(cat.limit) }}
      </p>
      <div class="progress" v-tooltip="cat.tooltip">
        <div
            class="determinate"
            :class="[cat.progressColor]"
            :style="{width: cat.progressPercent + '%'}"
        ></div>
      </div>
    </div>
  </section>
</div>
</template>

<script>
import { mapGetters } from 'vuex'
import curFilter from '@/utils/currency'
import localize from '@/locales/localize'
import { useHead } from '@vueuse/head'
import metaInfo from '@/utils/meta'
export default {
  name: 'planning',
  data: () => ({
    loading: true,
    categories: [],
    currencyPlanning: curFilter,
    menuPlanning: 'Menu_Planning'
  }),
  computed: {
    ...mapGetters(['info']),
    loc () {
      return {
        title: localize.localizeFilter(this.menuPlanning),
        no_message: localize.localizeFilter('No_CategoriesYet'),
        create_category: localize.localizeFilter('CreateNewCategory'),
        tooltip: localize.localizeFilter('Message_PlanningTooltip')
      }
    },
    meta () {
      return {
        title: metaInfo.metaTitle(this.menuPlanning)
      }
    }
  },
  async mounted () {
    useHead(this.meta)
    const records = await this.$store.dispatch('fetchRecords')
    const categories = await this.$store.dispatch('fetchCategories')

    this.categories = categories.map(cat => {
      const spend = records
        .filter(r => r.categoryId === cat.id)
        .filter(r => r.type === 'outcome')
        .reduce((total, record) => {
          return (total += +record.amount)
        }, 0)
      const percent = 100 * spend / cat.limit
      const progressPercent = percent > 100 ? 100 : percent
      const progressColor = percent < 60
        ? 'green'
        : percent < 100
          ? 'yellow'
          : 'red'

      const tooltipValue = cat.limit - spend
      const tooltip = `${tooltipValue < 0 ? localize.localizeFilter('Message_PlanningTooltip_1') : localize.localizeFilter('Message_PlanningTooltip_2')} ${this.currencyPlanning.currencyFilter(Math.abs(tooltipValue))}`

      return {
        ...cat,
        progressPercent,
        progressColor,
        spend,
        tooltip
      }
    })
    this.loading = false
  }
}
</script>
