<template>
  <div>
    <div class="page-title">
      <h3>{{ localizeObj.title }}</h3>
    </div>

    <form class="form" @submit.prevent="submitProfileForm">
      <div class="input-field">
        <input id="description" type="text" v-model="userName" :class="{invalid: $v.userName.$dirty && $v.userName.required.$invalid}"/>
        <label for="description">{{ localizeObj.name }}</label>
        <span
        class="helper-text invalid"
        v-if="$v.userName.$dirty && $v.userName.required.$invalid"
      >{{ localizeObj.message_validation }}</span>
      </div>

      <div class="switch">
        <label>
          Ru
          <input type="checkbox" v-model="isEnLocale" />
          <span class="lever"></span>
          En
        </label>
      </div>

      <button class="btn waves-effect waves-light" type="submit">
        {{ localizeObj.button }}
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</template>

<script>
import { useFormProfile } from '../use/profile'
export default {
  name: 'profile',
  setup () {
    const { userName, $v, submitProfileForm, isEnLocale, localizeObj } = useFormProfile()
    return {
      userName,
      $v,
      submitProfileForm,
      isEnLocale,
      localizeObj
    }
  }
}
</script>

<style scoped>
.switch {
  margin-bottom: 2rem;
}
</style>
