<template>
<div>
  <div class="page-title">
    <h3>{{ localizeObj.title_page }}</h3>
  </div>

  <Loader v-if="loading" />
  <p class="center" v-else-if="!categories.length">{{ localizeObj.no_message }} <router-link to="/categories">{{ localizeObj.create_category }}</router-link></p>
  <form class="form" v-else @submit.prevent="submitRecordForm">
    <div class="input-field" >
      <select ref="select" v-model="category">
        <option
          v-for="cat of categories"
          :key="cat.id"
          :value="cat.id"
        >{{ cat.title }}</option>
      </select>
      <label>{{ localizeObj.select }}</label>
    </div>

    <p>
      <label>
        <input
          class="with-gap"
          name="type"
          type="radio"
          value="income"
          v-model="type"
        />
        <span>{{ localizeObj.income }}</span>
      </label>
    </p>

    <p>
      <label>
        <input
          class="with-gap"
          name="type"
          type="radio"
          value="outcome"
          v-model="type"
        />
        <span>{{ localizeObj.outcome }}</span>
      </label>
    </p>

    <div class="input-field">
      <input
        id="amount"
        type="number"
        v-model.number="amount"
        :class="{invalid: $v.amount.$dirty && $v.amount.minValue.$invalid}"
      >
      <label for="amount">{{ localizeObj.amount }}</label>
      <span
        class="helper-text invalid"
        v-if="$v.amount.$dirty && $v.amount.minValue.$invalid"
      >{{ localizeObj.message_validation2 }} {{ $v.amount.minValue.$params.min }}</span>
    </div>

    <div class="input-field">
      <input
        id="description"
        type="text"
        v-model="description"
        :class="{invalid: $v.description.$dirty && $v.description.required.$invalid}"
      >
      <label for="description">{{ localizeObj.description }}</label>
      <span
        class="helper-text invalid"
        v-if="$v.description.$dirty && $v.description.required.$invalid"
      >{{ localizeObj.message_validation1 }}</span>
    </div>

    <button class="btn waves-effect waves-light" type="submit">
      {{ localizeObj.create }}
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>
</template>

<script>
import { useFormNewEntry } from '../use/formNewEntry'
import M from 'materialize-css/dist/js/materialize.min'
import { useHead } from '@vueuse/head'
export default {
  name: 'record',
  setup () {
    const { meta, description, amount, $v, submitRecordForm, select, category, loading, categories, type, message, infoBill, localizeObj } = useFormNewEntry()
    return {
      meta,
      description,
      amount,
      $v,
      submitRecordForm,
      select,
      category,
      loading,
      categories,
      type,
      message,
      infoBill,
      localizeObj
    }
  },
  async mounted () {
    useHead(this.meta)
    this.categories = await this.$store.dispatch('fetchCategories')
    this.loading = false

    if (this.categories.length) {
      this.category = this.categories[0].id
    }

    setTimeout(() => {
      this.select = M.FormSelect.init(this.$refs.select)
      M.updateTextFields()
    }, 0)
  },
  watch: {
    message (val) {
      if (val === 1) {
        this.$message(this.localizeObj.message_natification1)
      } else {
        this.$message(`${this.localizeObj.message_natification2} (${this.amount - this.infoBill.bill})`)
      }
    }
  },
  unmounted () {
    if (this.select && this.select.destroy) {
      this.select.destroy()
    }
  }
}
</script>
