<template>
<form class="card auth-card" @submit.prevent="submitHandler">
  <div class="card-content">
    <span class="card-title">{{ localizeObj.title }}</span>
      <div class="input-field">
        <input
        id="email"
        type="text"
        v-model.trim="userEmail"
        :class="{invalid: ($v.userEmail.$dirty && $v.userEmail.required.$invalid) || ($v.userEmail.$dirty && $v.userEmail.email.$invalid)}"
        >
        <label for="email">{{ localizeObj.email }}</label>
        <small
        class="helper-text invalid"
        v-if="$v.userEmail.$dirty && $v.userEmail.required.$invalid"
        >{{ localizeObj.message_validation1 }}</small>
        <small
        class="helper-text invalid"
        v-else-if="$v.userEmail.$dirty && $v.userEmail.email.$invalid"
        >{{ localizeObj.message_validation2 }}</small>
      </div>
      <div class="input-field">
        <input
        id="password"
        type="password"
        v-model.trim="userPassword"
        :class="{invalid: ($v.userPassword.$dirty && $v.userPassword.required.$invalid) || ($v.userPassword.$dirty && $v.userPassword.minLength.$invalid)}"
        >
        <label for="password">{{ localizeObj.password }}</label>
        <small
        class="helper-text invalid"
        v-if="$v.userPassword.$dirty && $v.userPassword.required.$invalid"
        >{{ localizeObj.message_validation3 }}</small>
        <small
        class="helper-text invalid"
         v-if="$v.userPassword.$dirty && $v.userPassword.minLength.$invalid"
         >{{ localizeObj.message_validation4 }} {{$v.userPassword.minLength.$params.min}} {{ localizeObj.message_validation5 }} {{ userPassword.length }}</small>
      </div>
    <div class="input-field">
      <input
          id="name"
          type="text"
          v-model.trim="name"
          :class="{invalid: $v.name.$dirty && $v.name.required.$invalid}"
      >
      <label for="name">{{ localizeObj.name }}</label>
      <small
      class="helper-text invalid"
      v-if="$v.name.$dirty && $v.name.required.$invalid"
      >
        {{ localizeObj.message_validation6 }}
      </small>
    </div>
    <p>
      <label>
        <input type="checkbox" v-model="agree" />
        <span>{{ localizeObj.agree }}</span>
      </label>
    </p>
  </div>
  <div class="card-action">
    <div>
      <button
          class="btn waves-effect waves-light auth-submit"
          type="submit"
      >
        {{ localizeObj.signup }}
        <i class="material-icons right">send</i>
      </button>
    </div>

    <p class="center">
      {{ localizeObj.message_register1 }}
      <router-link to="/login">{{ localizeObj.signin }}!</router-link>
    </p>
  </div>
</form>
</template>

<script>
import { useRegisterForm } from '../use/register'
export default {
  name: 'register',
  setup () {
    const { userEmail, userPassword, name, agree, $v, submitHandler, localizeObj } = useRegisterForm()
    return {
      userEmail,
      userPassword,
      name,
      agree,
      $v,
      submitHandler,
      localizeObj
    }
  }
}
</script>
