<template>
  <div class="col s12 m6">
    <div>
      <div class="page-subtitle">
        <h4>{{ localizeObj.title_page }}</h4>
      </div>
      <form @submit.prevent="submitEditCategoryForm">
        <div class="input-field" >
          <select ref="select" v-model="current">
            <option
              v-for="cat of categories"
              :key="cat.id"
              :value="cat.id"
            >{{ cat.title }}</option>
          </select>
          <label>{{ localizeObj.select }}</label>
        </div>
        <div class="input-field">
          <input
            id="name"
            type="text"
            v-model="title"
            :class="{invalid: $v.title.$dirty && $v.title.required.$invalid}"
          >
          <label for="name">{{ localizeObj.title }}</label>
          <span
            class="helper-text invalid"
            v-if="$v.title.$dirty && $v.title.required.$invalid"
          >{{ localizeObj.message_validation1 }}</span>
        </div>
        <div class="input-field">
          <input
            id="limit"
            type="number"
            v-model.number="limit"
            :class="{invalid: $v.limit.$dirty && $v.limit.minValue.$invalid}"
          >
          <label for="limit">{{ localizeObj.limit }}</label>
          <span
            class="helper-text invalid"
            v-if="$v.limit.$dirty && $v.limit.minValue.$invalid"
          >{{ localizeObj.message_validation2 }} {{ $v.limit.minValue.$params.min }}</span>
        </div>
        <button class="btn waves-effect waves-light" type="submit">
          {{ localizeObj.update }}
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
  </div>
</template>

<script>
import { useFormEditCategories } from '../use/formEditCategories'
import M from 'materialize-css/dist/js/materialize.min'
export default {
  props: {
    categories: {
      type: Array,
      requrired: true
    }
  },
  setup (props, context) {
    const { title, limit, $v, submitEditCategoryForm, select, current, message, localizeObj } = useFormEditCategories(props, context)
    return {
      title,
      limit,
      $v,
      submitEditCategoryForm,
      select,
      current,
      message,
      localizeObj
    }
  },
  watch: {
    current (catId) {
      const { title, limit } = this.categories.find(c => c.id === catId)
      this.title = title
      this.limit = limit
    },
    message (val) {
      if (val) {
        this.$message(this.localizeObj.message_natification)
      }
    }
  },
  created () {
    const { id, title, limit } = this.categories[0]
    this.current = id
    this.title = title
    this.limit = limit
  },
  mounted () {
    this.select = M.FormSelect.init(this.$refs.select)
    M.updateTextFields()
  },
  unmounted () {
    if (this.select && this.select.destroy) {
      this.select.destroy()
    }
  }
}
</script>
