<template>
  <div class="col s12 m6">
    <div>
      <div class="page-subtitle">
        <h4>{{ localizeObj.create }}</h4>
      </div>
      <form @submit.prevent="submitCreateCategoryForm">
        <div class="input-field">
          <input
            id="name"
            type="text"
            v-model="title"
            :class="{invalid: $v.title.$dirty && $v.title.required.$invalid}"
          >
          <label for="name">{{ localizeObj.title }}</label>
          <span
            class="helper-text invalid"
            v-if="$v.title.$dirty && $v.title.required.$invalid"
          >{{ localizeObj.message_validation1 }}</span>
        </div>
        <div class="input-field">
          <input
            id="limit"
            type="number"
            v-model.number="limit"
            :class="{invalid: $v.limit.$dirty && $v.limit.minValue.$invalid}"
          >
          <label for="limit">{{ localizeObj.limit }}</label>
          <span
            class="helper-text invalid"
            v-if="$v.limit.$dirty && $v.limit.minValue.$invalid"
          >{{ localizeObj.message_validation2 }} {{ $v.limit.minValue.$params.min }}</span>
        </div>
        <button class="btn waves-effect waves-light" type="submit">
          {{ localizeObj.create }}
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
  </div>
</template>

<script>
import { useFormCreateCategories } from '../use/formCreateCategories'
import M from 'materialize-css/dist/js/materialize.min'
export default {
  mounted () {
    M.updateTextFields()
  },
  setup (props, context) {
    const { title, limit, $v, submitCreateCategoryForm, message, localizeObj } = useFormCreateCategories(props, context)
    return {
      title,
      limit,
      $v,
      submitCreateCategoryForm,
      message,
      localizeObj
    }
  },
  watch: {
    message (val) {
      if (val) {
        this.$message(this.localizeObj.message_natification)
      }
    }
  }
}
</script>
