<template>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>{{ loc.sum }}</th>
        <th>{{ loc.date }}</th>
        <th>{{ loc.category }}</th>
        <th>{{ loc.type }}</th>
        <th>{{ loc.open }}</th>
      </tr>
    </thead>

    <tbody>
      <tr v-for="(record, idx) in records" :key="record.id">
        <td>{{ idx + 1 }}</td>
        <td>{{ currencyHistoryTable.currencyFilter(record.amount) }}</td>
        <td>{{ dateHistoryTable.dateFormat(record.date, 'datetime') }}</td>
        <td>{{ record.categotyName }}</td>
        <td>
          <span
            class="white-text badge"
            :class="[record.typeClass]"
          >{{ record.typeText }}</span>
        </td>
        <td>
          <button
            v-tooltip="`${loc.tooltip}`"
            class="btn-small btn"
            @click="$router.push('/detail/' + record.id)"
          >
            <i class="material-icons">open_in_new</i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
import dateFilter from '@/utils/dateformat'
import curFilter from '@/utils/currency'
import localize from '@/locales/localize'
export default {
  props: {
    records: {
      required: true,
      type: Array
    }
  },
  data: () => ({
    dateHistoryTable: dateFilter,
    currencyHistoryTable: curFilter
  }),
  computed: {
    loc () {
      return {
        type: localize.localizeFilter('Type'),
        open: localize.localizeFilter('Open'),
        sum: localize.localizeFilter('Sum'),
        category: localize.localizeFilter('Category'),
        date: localize.localizeFilter('Date'),
        tooltip: localize.localizeFilter('Message_HistoryTooltip')
      }
    }
  }
}
</script>
