<template>
  <div class="col s12 m6 l4">
    <div class="card light-blue bill-card">
      <div class="card-content white-text">
        <span class="card-title">{{ currencyAc }}</span>

        <p
        v-for="cur of currencies"
        :key="cur"
        class="currency-line">
          <span>{{ currencyHomeBill.currencyFilter(getCurrency(cur), cur) }}</span>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import curFilter from '@/utils/currency'
import localize from '@/locales/localize'
export default {
  props: ['rates'],
  data: () => ({
    currencies: ['PLN', 'USD', 'EUR'],
    currencyHomeBill: curFilter
  }),
  computed: {
    base () {
      return this.$store.getters.info.bill / (this.rates.PLN / this.rates.EUR)
    },
    currencyAc () {
      return localize.localizeFilter('CurrencyAccount')
    }
  },
  methods: {
    getCurrency (currency) {
      return Math.floor(this.base * this.rates[currency])
    }
  }
}
</script>
