<template>
  <div class="col s12 m6 l8">
    <div class="card orange darken-3 bill-card">
      <div class="card-content white-text">
        <div class="card-header">
          <span class="card-title">{{ loc.title }}</span>
        </div>
        <table>
          <thead>
           <tr>
             <th>{{ loc.сurrency }}</th>
             <th>{{ loc.course }}</th>
             <th>{{ loc.date }}</th>
           </tr>
          </thead>

          <tbody>
           <tr v-for="cur in currencies" :key="cur">
             <td>{{ cur }}</td>
             <td>{{ rates[cur].toFixed(5) }}</td>
             <td>{{ fDate }}</td>
           </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import localize from '@/locales/localize'
export default {
  props: ['rates', 'date'],
  data: () => ({
    currencies: ['PLN', 'USD', 'EUR'],
    formatDate: ''
  }),
  computed: {
    fDate () {
      var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }
      return new Intl.DateTimeFormat('en-US', options).format(new Date(this.date))
    },
    loc () {
      return {
        title: localize.localizeFilter('ExchangeRates'),
        сurrency: localize.localizeFilter('Currency'),
        course: localize.localizeFilter('Course'),
        date: localize.localizeFilter('Date')
      }
    }
  }
}
</script>
