<template>
  <div class="grey darken-1 empty-layout">
    <router-view />
  </div>
</template>

<script>
import localize from '@/locales/localize'
export default {
  computed: {
    error () {
      return this.$store.getters.error
    }
  },
  watch: {
    error (fbError) {
      this.$error(fbError.message || localize.localizeFilter('Message_SomethingWentWrong'))
    }
  }
}
</script>
