<template>
<div>
  <div>
    <Loader v-if="loading" />
    <div class="app-main-layout" v-else>
      <Navbar v-on:toggle="closeNav" />

      <Sidebar v-model:is-open="isOpen" :key="locale" />

      <main class="app-content" :class="{ full: !isOpen }">
        <div class="app-page">
      <router-view />
        </div>
      </main>

      <div class="fixed-action-btn" :key="locale">
        <router-link class="btn-floating btn-large blue" to="/record" data-position="left" v-tooltip="`${tooltipMessage}`">
          <i class="large material-icons">add</i>
        </router-link>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import Navbar from '@/components/app/Navbar.vue'
import Sidebar from '@/components/app/Sidebar.vue'
import localize from '@/locales/localize'
export default {
  name: 'main-layout',
  data: () => ({
    isOpen: true,
    loading: true
  }),
  methods: {
    closeNav () {
      this.isOpen = !this.isOpen
    }
  },
  async mounted () {
    if (!Object.keys(this.$store.getters.info).length) {
      await this.$store.dispatch('fetchInfo')
    }
    this.loading = false
  },
  components: {
    Navbar, Sidebar
  },
  computed: {
    error () {
      return this.$store.getters.error
    },
    locale () {
      return this.$store.getters.info.locale
    },
    tooltipMessage () {
      return localize.localizeFilter('Message_MainTooltip')
    }
  },
  watch: {
    error (fbError) {
      this.$error(fbError.message || localize.localizeFilter('Message_SomethingWentWrong'))
    }
  }
}
</script>
